@media only screen and (max-width: 450px) {

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.2);
    color: #f1f1f1;
    width: 100%;
    height: 80%;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content h1 {
       font-family: 'Varela Round', sans-serif;
       font-size: 40px;
       color: rgba(255, 255 255, 0.1);

}
.content h1:hover {
    color: rgba(255, 255, 255, 0.5);
}
.content1 {
    position: fixed;
    top: 0;
    background: transparent;
    color: #f1f1f1;
    width: 100%;
    margin-top: 80px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content1 p {
    font-family: 'Varela Round', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;

}
.content2 {
    position: fixed;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 20%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content2 a img {
    width: 100px;
    height: 100px;
    transition: 1s ease;
}
.content2 a img:hover {
   transform: scale(1.4);;
}
.input-container {
  margin-top: 170px;
  border: 1px solid white;

}
input[type=text] {
    width: 70%;
    height: 4vh;
    border: none;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}
.input-container button {
    background: rgba(255, 255, 255, 0.1);
}
.input-container button:hover {
    background: rgba(255, 255, 255, 0.7);
}
.container-fluid1 {
    /*border: 1px solid white;*/
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
}
.content3 {
    position: fixed;
    background: transparent;
    width: 30%;
    margin-top: 587px;
    margin-left: 460px;
    text-align: center;
    padding: 1px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 18px/54px;
}
.content3 p {
    color: white;
    font-family: 'Varela Round', sans-serif;
    padding: 10px;

}
}